/* Variable declaration */

:root{
  --yellow: #F4D04E;
  --dark-grey: #111111;
  --grey: #6B6B6B;
  --white: #FFFFFF;

  --small-font-size: 0.875rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.5rem;
  
  --xs-spacing: 0.25rem;
  --sm-spacing: 0.5rem;
  --md-spacing: 0.75rem;
  --lg--spacing: 1.5rem;
  /* used https://nekocalc.com/px-to-rem-converter to convert
  plus its more convenient this way */

  --medium: 500;
  --extra-bold: 800;
}

/* Reset CSS */

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

/* Styles */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body{
  background: var(--yellow);
  height: calc(100vh - 1px);
  /* - 1px is minus scrollbar */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  /* produces 24rem. equivalent to 384px */
  width: calc(384rem / 16);
  height: calc(522rem / 16);
  border-radius: calc(20rem / 16);

  background: var(--white);

  padding: 1.5rem;

  border: 1px solid black;
  box-shadow: 8px 8px 0px;

  color: var(--dark-grey);
  font-family: Figtree, serif;
  font-weight: var(--medium);
  line-height: 150%;
  letter-spacing: 0px;
}

.course-image{
  width: 100%; 
  display: block;
  /* the default value of images is inline-block,
  hence it gave us a weird extra space below like tf we succesfully removed it */
  border-radius: calc(10rem / 16); 
}

.text-container{
  display: flex;
  flex-direction: column;
  row-gap: var(--md-spacing);

  margin-block: var(--lg--spacing);
}

.status{
  font-size: var(--small-font-size);
  font-weight: var(--extra-bold);
  color: var(--dark-grey);

  background: var(--yellow);
  width: fit-content; 
  /* p is a block content so our box looked a lil too big yk
  needed something that looks like a button */
  padding: var(--xs-spacing) var(--sm-spacing);
  border-radius: calc(4rem / 16);
}

.published-date{
  font-size: var(--small-font-size);
}

h1{
  font-size: var(--large-font-size);
  font-weight: var(--extra-bold);
}

.description{
  color: var(--grey);
  font-size: var(--medium-font-size);
}

.author-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--md-spacing);
}

.author-pfp{
  height: 2rem;
  width: 2rem;
}

.author-name{
  font-weight: var(--extra-bold);
  font-size: var(--small-font-size);
}



